* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    margin: 0 auto;
    padding: 54px 8px 24px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #bcbabb;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 324px;
    height: 100px;
    padding: 16px;
    font-size: 56px;
    background-color: #a8af83;
    ;
}

#buttons-container {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
.divCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}


button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: #343434;
    color: #efedee;
    border-radius: 10px;
}

button.opBtn {
    background-color: #45717e;
}

button#clearBtn {
    background-color: #db7239;
}

button#bckspcBtn {
    background-color: #db7239;
}

#equalBtn {
    height: 124px;
    background-color: #5e5c5d;
}
